Source: i2c-tools-extra
Section: utils
Priority: optional
Build-Depends:
 debhelper-compat (= 12),
Rules-Requires-Root: no
Standards-Version: 4.5.1
Maintainer: pi-top <deb-maintainers@pi-top.com>
Homepage: https://pi-top.com

Package: i2c-tools-extra
Architecture: linux-any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 i2c-tools,
Description: additional I2C tools for Linux
 This package contains I2C tools for Linux in addition to i2c-tools: an
 address probing tool.
